@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


body {
    font-family: "Play", sans-serif;
    font-size: 15px;
    background-color: floralwhite;
}

a {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active {
    color: brown;
}

a:visited {
    color: gray;
}

.avatar {
     width: 200px;
     border-radius: 10px;
     box-shadow: 4px 4px 14px rgba(44, 43, 43, 0.5);
}
h1, h4 {
    color:black;
}
.info {
    display: flex;
    color:rgba(7, 0, 0, 0.514);
    margin-bottom: 20px;
}
.info-text {
    margin-left: 40px;
}
.info-text h4 {
    margin-bottom: 10px;
}
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.bg-yellow {
    background: lightgoldenrodyellow;
}
.bg-blue {
    background: rgb(210, 223, 250);
}
.bg-green {
    background: rgb(210, 250, 220);
}
.bg-red {
    background: rgb(250, 210, 210);
}
.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}
.list li {
    margin-bottom: 10px;
}
.table {
    width: 100%;
}
.table td:nth-child(2),
.table td:nth-child(3)  {
    padding-bottom: 10px;
    color: grey;
}

.contact {
    text-align: center;
}
.form-group label {
    display: block;
}
.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
}
@media (max-width: 700px) {
    .info {
    display: block;
    text-align: center;
    }
}
.btn {
    background-color: black;
    color: ivory;
    border: 0;
    cursor: pointer;
    padding: 10px 15px;
}
.btn:hover {
    opacity: 1;
    color: burlywood;
}
